<div>
    <div class="modal-header d-none">
      <button (click)="cancel()" type="button" class="close" data-dismiss="modal"
        aria-label="Cancel">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body px-0 py-0">
      <lib-edit-card [showNavigation]="false" [showActions]="showActions"></lib-edit-card>
    </div>
  </div>
  
