.pdf-viewer-custom-toolbar {
    right: 3rem;
    top: 5rem;
    z-index: 1;
    button {
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
}
.pdf-viewer-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    #sidebarContainer {
        top: 48px !important;
    }

    #viewerContainer {
        top: 48px !important;
    }

    #thumbnailView {
        width: 100%;
    }

    #toolbarSidebar {
        background-image: none !important;
    }

    &.hide-pdf-toolbar {
        pdf-toolbar {
            visibility: hidden;
        }
    }
}

.bd-modal.modal-pdf-viewer {
  .modal-backdrop {
    z-index: 1;
  }

  .modal {
    z-index: 1;
  }
}
