<!--  List -->
<div id="list1" *ngIf="model" class="card">
  <div *ngIf="model.actionStatus != undefined" class="card-body">
    <div class="text-center mb-5 mt-2">
      <ng-container [ngSwitch]="model?.actionStatus?.alternateName">
        <i *ngSwitchCase="'CancelledActionStatus'" style="font-size: 8rem" class="fas fa-user-times text-gray-200"></i>
        <i *ngSwitchDefault style="font-size: 8rem" class="fas fa-user-tag text-indigo"></i>
      </ng-container>
    </div>
    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Register.Details'">
    </h5>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary text-uppercase" [lang]="currentLang" [translate]="'Register.DateCreated'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.dateCreated | localizedDate: 'short' }}</span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary text-uppercase" [translate]="'Register.Status'"></span>
      </div>
      <div class="col-7">
        <span [ngClass]="{'text-primary': model?.actionStatus?.alternateName ==='PotentialActionStatus',
                                  'text-danger': (model?.actionStatus?.alternateName ==='FailedActionStatus') || model?.actionStatus?.alternateName ==='CancelledActionStatus',
                                  'text-success': model?.actionStatus?.alternateName ==='CompletedActionStatus',
                                  'text-purple': model?.actionStatus?.alternateName ==='ActiveActionStatus'}">
          {{ 'ActionStatusTypes.' + model?.actionStatus?.alternateName | translate}}
        </span>
      </div>
    </div>
    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Students.StudentTitleSingular'">
    </h5>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Students.GivenName'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.student?.person?.givenName}}</span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Students.FamilyName'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.student?.person?.familyName}}</span>
      </div>
    </div>
  </div>

  <div *ngIf="model.active != undefined" class="card-body">
    <div class="text-center mb-5 mt-2">
      <ng-container [ngSwitch]="model?.active">
        <i *ngSwitchCase="false" style="font-size: 8rem" class="fas fa-user-times text-gray-200"></i>
        <i *ngSwitchCase="true" style="font-size: 8rem" class="fas fa-user-tag text-indigo"></i>
      </ng-container>
    </div>
    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Register.Details'">
    </h5>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary text-uppercase" [lang]="currentLang" [translate]="'Register.DateCreated'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.dateCreated | localizedDate: 'short' }}</span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary text-uppercase" [translate]="'Register.Status'"></span>
      </div>
      <div class="col-7">
        <span [ngClass]="{'text-purple': model?.active === true,
                                  'text-danger': model?.active === false}">
          {{ 'UniversisDiningModule.DiningCardStatuses.' + model?.active | translate}}
        </span>
      </div>
    </div>
    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Students.StudentTitleSingular'">
    </h5>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Students.GivenName'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.student?.person?.givenName}}</span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Students.FamilyName'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.student?.person?.familyName}}</span>
      </div>
    </div>
  </div>
</div>