<ul class="nav d-flex mb-2" *ngIf="showNavigation">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/candidates', 'list']">
        <i class="fa fa-chevron-left pr-1"></i><span
          [translate]="'UniversisDiningModule.DiningCardsTemplates.DiningCard.Name'"></span></a>
    </li>
  </ul>
  <div class="col-12">
    <div class="row mb-2">
      <div class="col-auto">
        <h2 class="mb-0 pt-2">{{ 'UniversisDiningModule.DiningCardsTemplates.DiningCard.Name' | translate}}
          <h5>{{model.student.person.givenName}} {{model.student.person.familyName}}</h5>
        </h2>
  
      </div>
      <div *ngIf="showActions" class="col-auto px-2 py-0 ml-auto">
        <div class="btn-group">
          <button (click)="cancel()" type="button"
            class="btn btn-indigo" [disabled]="model.active == false" [translate]="'UniversisDiningModule.DiningCardsTemplates.CancelItem'"></button>
          <button type="button" class="btn btn-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a [ngClass]="{ disabled: model.active == false }" (click)="reset(templateCancelCard)"
              class="dropdown-item" href="javascript:void(0)" [translate]="'UniversisDiningModule.DiningCardsTemplates.CancelItem'"></a>
            <a [ngClass]="{  disabled: model.active == true }" (click)="reactivate()"
              class="dropdown-item" href="javascript:void(0)" [translate]="'UniversisDiningModule.DiningCardsTemplates.ReactivateItem'"></a>
            <!-- <div class="dropdown-divider"></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <advanced-form-edit #form formName="StudentDiningCards/preview" [(data)]="model">
          </advanced-form-edit>
          <!--start:review template-->
          <!-- <ng-template #reviewTemplate let-item="item">
            <div>
              <div class="text-secondary mt-1 mb-2" *ngIf="item.createdBy">
                <span [translate]="'Register.UserReviewAdded'" [translateParams]="item.createdBy">
                </span>
                <button *ngIf="model.actionStatus.alternateName === 'ActiveActionStatus'"
                  (click)="editingReview = item.itemReviewed" type="button"
                  class="ml-2 btn btn-primary btn-sm text-lowercase" [translate]="'Edit'"></button>
              </div>
            </div>
            <div>
              <p class="p-3 mb-2 bg-gray-100" *ngIf="item.reviewBody" [innerHTML]="item.reviewBody"></p>
            </div>
            <div>
              <span [translate]="'Register.Rating'"></span>:
              <span class="bg-gray-100 rounded px-2 py-1" *ngIf="item.reviewRating">{{item.reviewRating}}</span>
              <span class="bg-gray-100 rounded px-2 py-1" *ngIf="!item.reviewRating">-</span>
            </div>
          </ng-template> -->
          <!--end:review template-->
          <!--start:attachments-->
          <!-- <div class="mt-4">
            <legend ref="header" [translate]="'Register.Attachments'"></legend>
            <ul class="list-group" *ngIf="model && model.attachments && model.attachments.length">
              <li class="list-group-item" *ngFor="let item of model.attachments">
                <div class="d-flex">
                  <div class="justify-content-center mr-3">
                    <i class="far fa-file-alt fa-2x text-secondary" *ngIf="item.published === true"></i>
                    <i class="far fa-times-circle fa-2x text-secondary" *ngIf="item.published !== true"></i>
                  </div>
                  <div class="justify-content-start mr-auto">
                    {{item.attachmentType.name}}
                    <div class="text-secondary">
                      {{item.contentType}}
                    </div>
                    <div class="text-secondary">
                      <span [translate]="'Register.DateModified'"></span>
                      <span>&nbsp;</span>
                      <span>{{item.dateModified | date: 'short'}}</span>
                    </div>
                  </div>
                  <div class="justify-content-end">
  
                    <div class="btn-group">
                      <ng-container *ngIf="item.contentType !== 'application/pdf'">
                        <button (click)="download(item)" type="button" class="btn btn-theme"
                          [translate]="'Register.Download'"></button>
                      </ng-container>
                      <ng-container *ngIf="item.contentType === 'application/pdf'">
                        <button (click)="preview(item)" class="btn btn-theme z-index-0"
                          [translate]="'Register.Preview'"></button>
                      </ng-container>
                      <button type="button" class="btn btn-theme dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only"></span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="download(item)" href="javascript:void(0)">
                          <i class="fas fa-download mr-2"></i><span [translate]="'Register.Download'"></span>
                        </a>
                        <a (click)="preview(item)" href="javascript:void(0)" class="dropdown-item">
                          <i class="fas fa-search mr-2"></i><span [translate]="'Register.Preview'"></span>
                        </a>
                        <a (click)="rejectAttachment(item, templateRejectAttachment)" href="javascript:void(0)" class="dropdown-item" *ngIf="model.actionStatus.alternateName === 'ActiveActionStatus' && item.published === true">
                          <i class="far fa-trash-alt"></i><span [translate]="'Register.Reject'"></span>
                        </a>
                        <a (click)="revertAttachment(item)" href="javascript:void(0)" class="dropdown-item" *ngIf="model.actionStatus.alternateName === 'ActiveActionStatus' && item.published === false">
                          <i class="fas fa-redo"></i><span [translate]="'UniversisDiningModule.RevertAttachment'"></span>
                        </a>                      
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="card" *ngIf="model.attachments && model.attachments.length === 0">
              <div class="card-body">
                <h4 [translate]="'Register.NoAttachments'" class="text-secondary font-weight-normal mb-0">
                </h4>
              </div>
            </div>
          </div> -->
          <!--end:attachments-->
        </div>
      </div>
    </div>
  
    <div class="col-4">
      <dining-student-side-preview [model]="model"></dining-student-side-preview>
      <!-- <ng-container *ngIf="otherApplications.length">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Other active applications</h5>
            <ng-container *ngFor="let otherApplication of otherApplications">
              <div class="mb-2">
                <a class="btn btn-gray-100"
                  [routerLink]="[ '/requests', 'dining', 'index' , { outlets: { modal: ['item', otherApplication.id, 'edit'] } }]">
                  <span>{{ 'NewRequestTemplates.DiningRequestAction.Name' | translate }}</span>
                  <span>&nbsp;</span>
                  <span [translate]="'Register.DateModified'"></span>
                  <span>&nbsp;</span>
                  <span>{{ otherApplication.dateModified | date: 'short' }}</span>
                </a>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container> -->
    </div>
  </div>
  <!-- <dining-attachment-download></dining-attachment-download> -->
  
   <ng-template #templateCancelCard>
    <div class="modal-header">
      <h4 class="modal-title pull-left" [translate]="'UniversisDiningModule.CancelCardModal.Title'"></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mt-0 mb-0 text-center">
      <div>
        <p class="text-secondary text-left" [translate]="'UniversisDiningModule.CancelCardModal.Help'"></p>
      </div>
      <form class="p-3 text-center" #rejectAttachmentForm="ngForm" >
        <div [ngVar]="{ name: null }" #model="ngVar">
          <input [(ngModel)]="model.value.name" [required]="true"  id="cancelReason" name="cancelReason" type="text" class="form-control" placeholder="{{ 'UniversisDiningModule.CancelCardModal.CancelNamePlaceholder' | translate }}"/>
          <div class="btn-group mt-4">
            <button [disabled]="rejectAttachmentForm.invalid" type="button" class="btn btn-primary" (click)="confirmCancelCardModal(model.value.name)" [translate]="'UniversisDiningModule.CancelCardModal.Accept'"></button>
            <button type="button" class="btn btn-gray-300 text-white" (click)="modalRef.hide()" [translate]="'UniversisDiningModule.CancelCardModal.Close'"></button>
          </div>
        </div>
      </form>
    </div>
  </ng-template> 